.paragraph {
  --caret-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.1ch;
    max-width: fit-content;
    $animation-duration: 4;

      @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        animation:
        typing #{$animation-duration}s #{($i - 1) * $animation-duration * 0.9}s steps(50, end) forwards,
        blink-caret .5s #{($i - 1) * $animation-duration * 0.9}s step-end infinite,
        stop-caret .5s #{$i * $animation-duration * 0.9}s infinite;
      }
    }
  }
}

@keyframes stop-caret {
  from, to { border-right-color: transparent; }
}

@keyframes typing {
  0% { width: 0;}
  100% { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-right: .15em solid var(--caret-color); }
  50% { border-right-color: transparent; }
}
