.episodes-section {
  padding: 8rem 2rem 4rem;
}

.episodes-wrapper {
  display: flex;
  flex-direction: column;
  max-width: calc(var(--episode-card-width) * 3 + 6rem * 2);
  width: 100%;
  gap: 3rem;
  align-items: center;
}

.episodes-container {
  display: grid;
  justify-items: center;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}


@media screen and (width <= 900px) {
  .episodes-container > *:nth-child(n+5) {
    display: none;
  }
}

/* @media screen and (width >= 900px) {
  .episodes-section {
    padding: 8rem 4rem 4rem;
  }
} */
