.posts-see-more {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0  0.6875rem 1.875rem 2.1875rem;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark-gray);

  &:not(.is-active) {
    transition: opacity 1s ease;

    &::after {
      width: calc(100% - 0.5rem);
    }

    .posts-see-more-content {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0.5rem;
    height: 0.5rem;
    border: 1.5px solid var(--red);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: calc(0.5rem - 1px);
    left: calc(0.5rem - 1px);
    height: calc(30px - 0.75rem);
    background: var(--red);
    clip-path: polygon(0 calc(100% - 0.5px), 1rem 0, 100% 0, 100% 1px, calc(1rem + 0.5px) 1px, 1px 100%);
  }

  .posts-see-more-content {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0;
  }

  &.is-active {
    &::before {
      --falling-height: -2;
      animation: fall-appear 0.5s ease-out;
    }
  
    &::after {
      animation: fill-line 0.4s ease-in-out 0.5s forwards;
    }
  
    &:hover {
      .posts-see-more-arrow {
        animation: arrow-swing 3s linear infinite forwards;
      }
    }
  
    .posts-see-more-content {
      animation: var(--flicker-animation) 0.3s step-end 1s forwards;
    }
  }
}

@keyframes fall-appear {
  from {
    opacity: 0;
    transform: translateY(calc(-1rem * var(--falling-height)));
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fill-line {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 0.5rem);
  }
}

@keyframes arrow-swing {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  10% {
    transform: translateX(2px);
  }

  20% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    transform: translateX(2px);
  }

  40%, 100% {
    opacity: 1;
    transform: translateX(0);
  }
}
