.navContainer {
  display: flex;
  background-color: var(--primary);
  height: 3rem;
  align-items: center;
  padding: 2rem var(--horizontal-padding);
  position: sticky;
  top: 0;
  z-index: 900;
}

.link {
  margin-right: 2rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
}
