.blog-section {
  background: var(--light-gray);
  background-image: url(../../../../assets/episodes-bg.png);
  position: relative;
  padding: 5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 1rem;
  width: 100%;
  container-type: inline-size;
}

@media screen and (width >= 900px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "main-post secondary-post"
      "main-post tertiary-post";
    gap: 1rem;
    max-width: 1200px;
    width: 100%;

    & > *:first-child {
      grid-area: main-post;
    }
    
    & > *:nth-child(2) {
      grid-area: secondary-post;
    }
  
    & > *:nth-child(3) {
      grid-area: tertiary-post;
    }
  }
}
