.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: "Montserrat", system-ui, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgb(from var(--dark-gray) r g b / calc(alpha - 0.2));
  transition: color 0.5s ease;
  z-index: 0;

  &:hover {
    color: var(--black);
  }
}

@property --hover-progression {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-opacity {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

:root {
  --button-background-color: var(--light-gray);
  --button-border-color: rgb(from var(--dark-gray) r g b / calc(alpha - 0.5));
  --border-width: 1px;
  --animation-speed: 4s;
  --bg-x: 0;
  --bg-y: 0;
  --bg-opacity: 1;
  --hover-progression: 0;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  60%, 100% {
    background-position: -10%;
  }
}

// @keyframes rotate-bg {
//   0% {
//     --bg-opacity: 0;
//     --bg-x: 0;
//     --bg-y: 0;
//   }

//   15% {
//     --bg-opacity: 1;
//     --bg-x: 100;
//     --bg-y: 0;
//   }

//   30% {
//     --bg-x: 100;
//     --bg-y: 100;
//   }

//   45% {
//     --bg-opacity: 1;
//     --bg-x: 0;
//     --bg-y: 100;
//   }

//   60%, 100% {
//     --bg-opacity: 0;
//     --bg-x: 0;
//     --bg-y: 0;
//   }
// }

@keyframes rotate-bg {
  0% {
    --bg-x: 0;
    --bg-y: 0;
  }

  25% {
    --bg-x: 100;
    --bg-y: 0;
  }

  50% {
    --bg-x: 100;
    --bg-y: 100;
  }

  75% {
    --bg-x: 0;
    --bg-y: 100;
  }

  100% {
    --bg-x: 0;
    --bg-y: 0;
  }
}

.shiny-glowing-border {
  position: relative;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  color: var(--black);
  box-shadow: inset 0 0 0 calc(var(--hover-progression) * 1px) var(--red);
  transition: --hover-progression 0.3s ease, color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(from var(--dark-gray) r g b / calc(alpha - 0.7));;
    background-image:
      radial-gradient(
        30% 30% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%),
        hsla(358, 75%, 48%, var(--bg-opacity)) 0,
        hsla(358, 75%, 48%, var(--bg-opacity)) 20%,
        hsla(358, 75%, 48%, var(--bg-opacity)) 40%,
        transparent 100%
      ),
      radial-gradient(
        30% 30% at calc(100% - var(--bg-x) * 1%) calc(100% - var(--bg-y) * 1%),
        hsla(358, 75%, 48%, var(--bg-opacity)) 0,
        hsla(358, 75%, 48%, var(--bg-opacity)) 20%,
        hsla(358, 75%, 48%, var(--bg-opacity)) 40%,
        transparent 100%
      );
    animation: rotate-bg var(--animation-speed) linear infinite;
    z-index: -1;
    mask:
      linear-gradient(
        to bottom,
        var(--black) var(--border-width),
        transparent var(--border-width),
        transparent calc(100% - var(--border-width)),
        var(--black) calc(100% - var(--border-width))
      ),
      linear-gradient(
        to right,
        var(--black) var(--border-width),
        transparent var(--border-width),
        transparent calc(100% - var(--border-width)),
        var(--black) calc(100% - var(--border-width))
      );
    transition: background 0.3s ease;
  }

  // &::after {
  //   content: '';
  //   width: calc(100% - 2 * var(--border-width));
  //   height: calc(100% - 2 * var(--border-width));
  //   top: var(--border-width);
  //   left: var(--border-width);
  //   background-color: var(--button-background-color);
  //   position: absolute;
  //   z-index: -1;
  //   background-image:
  //     linear-gradient(130deg, transparent 44%, var(--50-translucent-white) 46%, transparent 60%),
  //     linear-gradient(130deg, transparent 39%, var(--50-translucent-white) 41%, transparent 55%);
  //   background-size: 300% auto;
  // }

  &:hover {
    --hover-progression: 100;
    color: var(--white);

    &::before {
      background: none;
    }
  }
}
