@property --skeleton-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --skeleton-progress: 0;
  --loader-background-color: #F2F2F2;
  --loader-highlight-color: #EAEAEA;
}

.episode-skeleton {
  height: 165px;
  width: 100%;
  background:
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 0/50% 20px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 25px/100% 40px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 75px/calc(100% - 10px) 12px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 92px/calc(100% - 10px) 12px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 109px/75% 12px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))0 100%/calc(50% - 5px) 30px border-box no-repeat,
    linear-gradient(to right, var(--loader-background-color) calc(var(--skeleton-progress) * 1% - 50%), var(--loader-highlight-color) calc(var(--skeleton-progress) * 1%), var(--loader-background-color) calc(var(--skeleton-progress) * 1% + 50%))100% 100%/calc(50% - 5px) 30px border-box no-repeat;
  animation: progress-skeleton 2s ease infinite;
}

@keyframes progress-skeleton {
  from {
    --skeleton-progress: -100;
  }
  to {
    --skeleton-progress: 200;
  }
}
