@property --h-expand-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --v-expand-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --h-expand-progress: 0;
  --v-expand-progress: 0;
}

.expand-reveal {
  position: relative;
  padding: 0.5rem;

  &.expand-active {
    animation: expand-h 0.5s ease forwards, expand-v 0.4s ease 0.5s forwards;

    &::before {
      opacity: 0;
      transition: opacity 0.3s ease 0.9s;
    }

    .expand-reveal-content {
      animation: flicker 0.3s steps(4, start) 1s forwards;
    }
  }

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    background:
      conic-gradient(
        from 90deg at top 1px left 1px,
        transparent 90deg,
        var(--red) 0
      )
      calc(50% + (var(--h-expand-progress) * 1% / 2) + 4px * (1 - var(--h-expand-progress) / 100))
      calc(50% + (var(--v-expand-progress) * 1% / 2) + 4px * (1 - var(--v-expand-progress) / 100))
      /8px 8px border-box no-repeat,

      conic-gradient(
        from 180deg at top 1px right 1px,
        transparent 90deg,
        var(--red) 0
      )
      calc(50% - (var(--h-expand-progress) * 1% / 2) - 4px * (1 - var(--h-expand-progress) / 100))
      calc(50% + (var(--v-expand-progress) * 1% / 2) + 4px * (1 - var(--v-expand-progress) / 100))
      /8px 8px border-box no-repeat,

      conic-gradient(
        from 0deg at bottom 1px left 1px,
        transparent 90deg,
        var(--red) 0
      )
      calc(50% + (var(--h-expand-progress) * 1% / 2) + 4px * (1 - var(--h-expand-progress) / 100))
      calc(50% - (var(--v-expand-progress) * 1% / 2) - 4px * (1 - var(--v-expand-progress) / 100))
      /8px 8px border-box no-repeat,

      conic-gradient(
        from -90deg at bottom 1px right 1px,
        transparent 90deg,
        var(--red) 0
      )
      calc(50% - (var(--h-expand-progress) * 1% / 2) - 4px * (1 - var(--h-expand-progress) / 100))
      calc(50% - (var(--v-expand-progress) * 1% / 2) - 4px * (1 - var(--v-expand-progress) / 100))
      /8px 8px border-box no-repeat;
  }
  
  .expand-reveal-content {
    opacity: 0;
  }
}

@keyframes expand-h {
  from {
    --h-expand-progress: 0;
  }
  
  to {
    --h-expand-progress: 100;
  }
}

@keyframes expand-v {
  from {
    --v-expand-progress: 0;
  }
  
  to {
    --v-expand-progress: 100;
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.7;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
