@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200;300;500&display=swap');
@import "./equalizer.scss";
@import "./glitch.scss";
@import "./texts.scss";
@import "./buttons.scss";

:root {
  --black: #000;
  --70-translucent-black: rgba(0, 0, 0, 0.7);
  --30-translucent-black: rgba(0, 0, 0, 0.3);
  --20-translucent-black: rgba(0, 0, 0, 0.2);
  --dark-gray: #1B1B1E;
  --light-gray: #EBEBEB;
  --white: #FBFFFE;
  --50-translucent-white: rgba(251, 255, 254, 0.5);
  --red: #D81F26;
  --dark-red: #96031A;
  --spotify-green: #1ed760;
  // episode button glitch animation
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
}

* {
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

body {
  // background-color: var(--white);
  // background-image: radial-gradient(circle, var(--light-gray) 7%, transparent 8%);
  // background-size: 1.5rem 1.5rem;
}
