@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./equalizer.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200;300;500&display=swap');

:root {
  --black: #1B1B1E;
  --red: #D81F26;
  --dark-red: #96031A;
  --white: #FBFFFE;
  --spotify-green: #1ed760;
}

* {
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

nav {
  font-family: var(--font-anton), system-ui, sans-serif;
}
