.title-1 {
  font-family: var(--font-anton), system-ui, sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: var(--black);
  text-transform: uppercase;

  &.white {
    color: var(--white);
  }
}
