.hosts-section {
  position: relative;
  z-index: 1;
  background: var(--black);
  margin-top: 13.5vw;
  padding: 8rem 2rem;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(250px + 2.5rem);
    background: var(--red);
    bottom: 100%;
    left: 0;
    pointer-events: none;
    mask: linear-gradient(var(--black) 0%, var(--black) 100%) 0 100%/100% 2.5rem no-repeat, url(../../../../assets/angle_mask.svg) 50% calc(100% - 2.5rem)/auto no-repeat;
  }
}

.about-bg {
  width: 100%;
  height: calc(250px + 1.25rem);
  bottom: 100%;
  left: 0;
  position: absolute;
  filter: drop-shadow(0px -2px 5px var(--70-translucent-black));
  pointer-events: none;
  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--black);
    mask: url(../../../../assets/angle_mask.svg) 50% calc(100% - 1.25rem)/auto no-repeat, linear-gradient(var(--black) 0%, var(--black) 100%) 0 100%/100% 1.25rem no-repeat;
  }
}

.hosts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 6rem;
  width: min(1200px, 100%);
  justify-items: center;
}
