.hosts-section {
  position: relative;
  z-index: 1;
  background: var(--black);
}

.hosts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 0 auto;
  max-width: min(1200px, 100%);
}
