.container {
  height: 80vh;
  position: relative;
  background: url('../../assets/images/introduction-bg.webp') no-repeat
    center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 100px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000000, 0.5);
  }
}

.text {
  z-index: 100;
}
