@import 'normalize.css';

@font-face {
  font-family: tcceb;
  font-weight: normal;
  src: url('../assets/fonts/tcceb.ttf');
}

@font-face {
  font-family: tcceb;
  font-weight: bold;
  src: url('../assets/fonts/tcceb-bold.ttf');
}

:root {
  --primary: #0d0d0d;
  --secondary: #f2f2f2;
  --terciary: #595959;
  --accent: #bf1f2c;

  --horizontal-padding: 2rem;
}

body::before {
  content: '';
  background-color: rgba(#0d0d0d, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;
  opacity: 0;
  transition: opacity ease 0.25s;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: tcceb;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

.link {
  color: var(--secondary);
  font-family: tcceb;
  line-height: 1.2;
  font-size: 1rem;
  text-decoration: none;
}

.title-1 {
  font-size: calc(7vw + 3em);
  font-weight: bold;
  color: white;
}

.title-2 {
  font-size: calc(2vw + 1em);
  color: white;
}

.title-3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
